<p id="notice"><%= notice %></p>

<div class="comments_container">
<h1>Comments</h1>


    <% @comments.each do |comment| %>

        <p><strong>User: <%= comment.user_id %></strong></p>
        <p><%= comment.message.html_safe %></p>
        <p>
          <%= link_to 'Show', comment %>
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
       </p>
       <% end %>

      <br>

      <%= link_to 'New Comment', new_comment_path %>
</div>
