<p id="notice"><%= notice %></p>



<div class="well">

    <% @posts.each do |post| %>

        <p><strong>Title: <%= post.title %></strong></p>
        <p><%= post.blog_entry %></p>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<p><%= link_to 'New Post', new_post_path %></p>
