<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
</div>


<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry.html_safe %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %>

<h2>Comments</h2>

<%= render 'comments/form', comment: @comment %>

<% @post.comments.each do |comment| %>
    <p><%= comment.user_id %></p>

    <p>
    <%= time_ago_in_words(comment.created_at) if Time.now - comment.created_at < 86400 %>
    <%= comment.created_at.strftime('%b%e') if Time.now - comment.created_at > 86400 %>
    </p>

    <p><%= comment.message %></p>
<% end %>


<!--

<div id="comments">


    <% @post.comments.each do |comment| %>
  <p>
	    <%= comment.user_id %> said...<br />
	    <%= comment.message %>
	</p>
    <% end %>

</div>

<%= link_to 'Back', posts_path %> -->
