<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
</div>


<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

<% @post.comments.each do |comment| %>

    <p><%= comment.user_id %></p>

    <p><%= comment.message %></p>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> 

<div id="comments">

    <%= render 'comments/form', comment: @comment %>

    <% @post.comments.each do |comment| %>
        <p>
	    <%= comment.user_id %> said...<br />
	    <%= comment.message %>
	</p>
    <% end %>

</div>

<%= link_to 'Back', posts_path %>
