<!DOCTYPE html>
<html>
  <head>
    <title>CyberSecurityBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

    <nav class="shift">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/account">ACCOUNT</a></li>
        <div class="container">
      </ul>
    </nav>

    <div class="container">
      <div class="pull-right">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>


  <body>
    <%= yield %>
  </body>
</html>
